
.folder-content {
  display: flex;
  align-items: center;
  /* Add any other styles as needed */
}

.folder-wrapper{
  margin-top: 1.5%;
}

.material-symbols-outlined:hover, .folder-name:hover {
    background-color: #f0f0f0;
  }

  .material-symbols-outlined.clicked {
    color: red; /* Change the color to your desired value */
  }

  .subFolder-Wrapper {
    margin-top: 1.5%;
    margin-left: 4.5%;
  }

.folder-name{
    margin-left: 0.5%;
}